<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Update person</title>
</head>
<body>
<!--object - принимаем на вход объект, здесь - старого Person, который уже есть в БД-->
<!--Одно из главных отличий от new - метод реквеста - Patch, чтобы можно было их разделять-->
<form th:method="patch" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <div>
        <!--         Надпись для поля name - Name, задаем по id чуть ниже-->
        <label for="name">Name</label>
        <!--         Тип содержимого поля - text, применяется для поля fullName, ну и задаем id для label-->
        <input type="text" th:field="*{fullName}" id="name"/>
        <br/>
        <label for="yearOfBirth">Year of birth</label>
        <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
        <hr/>
        <!--         Кнопка submit с надписью Create-->
        <input type="submit" value="Update!">
    </div>
</form>
</body>
</html>