<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>New person</title>
</head>
<body>
<!--object - принимаем на вход объект, в нашем случае - нового Person-->
<form th:method="post" th:action="@{/people}" th:object="${person}">
     <div>
<!--         Надпись для поля name - Name, задаем по id чуть ниже-->
         <label for="name">Name</label>
<!--         Тип содержимого поля - text, применяется для поля fullName, ну и задаем id для label-->
         <input type="text" th:field="*{fullName}" id="name"/>
         <br/>
         <label for="yearOfBirth">Year of birth</label>
         <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
         <br/>
<!--         Кнопка submit с надписью Create-->
         <input type="submit" value="Create!">
     </div>
</form>

</body>
</html>

